<div id="mini-player" class="mini-player">
                <audio id="audio-player"></audio>
                <div class="mini-player-content">
                    <div class="mini-player-left">
                        <div class="mini-player-art">
                            <img id="mini-track-art" class="mini-track-art" alt="Album art">
                        </div>
                        <div class="mini-player-info">
                            <a id="mini-track-name" class="mini-track-name"></a>
                            <a id="mini-track-artist" class="mini-track-artist"></a>
                        </div>
                    </div>

                    <div class="mini-player-center">
                        <div class="mini-player-controls">
                            <button id="mini-prev-track" class="mini-button"><i class="fas fa-step-backward"></i></button>
                            <button id="mini-playpause-track" class="mini-button"><i class="fas fa-play-circle"></i></button>
                            <button id="mini-next-track" class="mini-button"><i class="fas fa-step-forward"></i></button>
                        </div>
                        <div class="progress-container">
                            <span class="current-time">0:00</span>
                            <input type="range" class="progress-slider" min="0" max="100" value="0">
                            <span class="total-duration">0:00</span>
                        </div>
                    </div>

                    <div class="mini-player-right">
                        <div class="volume-control">
                            <i class="fas fa-volume-up"></i>
                            <input type="range" class="volume-slider" min="0" max="1" step="0.05" value="1">
                        </div>
                    </div>
                </div>
            </div>